#code{
  position: relative;
  width: 100%;
  height: 35em;
  margin-top:10px;
  border-radius: 4px;
}

.CodeMirror {
display: inline-block;;
width: 33%;
margin: 0 auto;
outline: none;
border-radius: 4px;
}

.editors{
white-space: nowrap;
margin: 0 auto;
}

.botoes{
}

.editor_and_iframe{
display: inline-block;
width: 50%;
background-color: lime;
float: left;

}

.editors{
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
.teste1512 {
  display: inline-block;
  width: 25%;
  background-color: cyan;
  bottom: 150px;
  float: left;
}

>>>>>>> parent of b2d5aa0... v7
.menu {
=======
.teste1512{
  display: inline-block;
  width:25%;
  background-color: cyan;
  bottom: 150px;
  float:left;
}

.menu{
>>>>>>> parent of e8c6eeb... v6
  display: inline-block;
  width:25%;
  background-color: red;
  float:left;
}
